@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #0F0509;
    --color-heading: #6B4981;
    --color-base: #692111;
    --color-base2: #762F1D;
    --color-brand: #FFFBCB;
    --color-brand2: #F4C974;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree"
}

html,
body {
    margin: 0px;
    height: 100%;
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font: var(--font-base), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-brand);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand2);
}

.text-brand {
    color: var(--color-brand2);
}

#persona1 {
    width: auto;
    height: 330px;
    filter: grayscale(10%);
}

#description {
    color: var(--color-brand);
}

/* NAVBAR */

.navbar {
    background-color: #6B4981;
    /* height: 100%; */
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.navbar .nav-link:hover {
    color: var(--color-brand2);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

@media(min-width: 992px) {
    .navbar {
        height: 100%;
        min-height: 10vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(255, 251, 204, 0.05), rgba(255, 251, 203, 0.05)), url('../images/sidebarimage.jpg');
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 7px solid var(--color-brand2);
    }

    /* Content Wrapper */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}

/* Button */

.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand);
    color: var(--color-base);
    border-color: var(--color-brand);
}

#call-btn {
    color: var(--color-brand);
}

.custom-link {
    font-weight: 700;
    position: relative;
}

.custom-link::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand2);
    position: absolute;
    left: 0;
    top: 100%;
    transition: all 0.4s;
}

.custom-link:hover:after {
    width: 100%;
}
