@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #0F0509;
    --color-heading: #6B4981;
    --color-base: #692111;
    --color-base2: #762F1D;
    --color-brand: #FFFBCB;
    --color-brand2: #F4C974;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree"
}

html,
body {
    margin: 0px;
    height: 100%;
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font: var(--font-base), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand2);
}

img {
    width: 100%;
}

#persona1 {
    width: auto;
    height: 330px;
    margin-left: 10px;
    filter: grayscale(10%);
}

/* NAVBAR */

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

@media(min-width: 992px) {
    .navbar {
        min-height: 10vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(255, 251, 204, 0.1), rgba(255, 251, 203, 0.1)), url('../images/sidebarimage.jpg');
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img{
        border: 8px solid var(--color-brand2);
}
}
